body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #252519;
  padding: 0;
  margin: 0;
}
body * {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 30px 0 15px 0;
  color: #112233;
  line-height: 1em;
  font-family: "novecento-bold";
  text-transform: uppercase;
}
h1 {
  margin-top: 40px;
}
hr {
  border: 0;
  border-top: 1px solid #e5e5ee;
  height: 1px;
  margin: 20px 0;
}
.sections {
  margin: 0;
  padding: 0 0 5px 0;
}
.sections li {
  list-style: none;
  white-space: nowrap;
}
.sections .docs p {
  margin: 15px 0 0 0;
}
.sections .docs pre {
  background-color: #fcfcfc;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  overflow-x: auto;
}
.sections .pilwrap {
  display: none;
}
pre, tt, code {
  font-size: 12px;
  line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
}
#container {
  min-height: 100%;
}
/* Google prettify style */
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
@media only screen and (min-width: 320px) {
  .sections .docs {
    padding: 5px 10px 0 10px;
    display: block;
  }
  .sections .docs pre {
    margin: 7px 0;
    padding-left: 15px;
  }
  .sections .code {
    display: block;
    background-color: #f5f5ff;
    overflow-x: auto;
    box-shadow: inset 0 0 5px #e5e5ee;
    border: 1px solid #dedede;
    margin: 5px 10px;
    padding: 5px 10px 5px 10px;
  }
}
@media only screen and (min-width: 481px) {
  body {
    background-color: #F5F5FF;
    font-size: 15px;
    line-height: 21px;
  }
  #container {
    position: relative;
  }
  #background {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid #E5E5EE;
    z-index: -1;
    width: 350px;
  }
  .sections .docs {
    max-width: 350px;
    min-width: 350px;
    padding: 13px;
    min-height: 5px;
    overflow-x: hidden;
    vertical-align: top;
    text-align: left;
    white-space: normal;
    display: inline-block;
  }
  .sections .pilwrap {
    position: relative;
    display: inline;
  }
  .sections .pilcrow {
    font: 12px Arial;
    text-decoration: none;
    position: absolute;
    left: -20px;
    top: 3px;
    color: #454545;
    -webkit-transition: opacity 0.2s linear;
    opacity: 0;
  }
  .sections .for-h1 .pilcrow {
    top: 47px;
  }
  .sections .for-h2 .pilcrow,
  .sections .for-h3 .pilcrow
  .sections .for-h4 .pilcrow
  .sections .for-h5 .pilcrow {
    top: 35px;
  }
  .sections .docs:hover .pilcrow {
    opacity: 1;
  }
  .sections .docs p {
    margin: 0 0 15px 0;
  }
  .sections .code {
    padding: 13px;
    vertical-align: top;
    background-color: #F5F5FF;
    display: inline-block;
    box-shadow: none;
    border: none;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  #background {
    width: 525px;
  }
  .sections .docs {
    max-width: 525px;
    min-width: 525px;
    padding: 10px 25px 1px 50px;
  }
  .sections .code {
    padding: 9px 15px 16px 25px;
  }
}
